div.l_side {
    display: grid;
    width: 963px;
    height: 980px;
    grid-area: l_side;
    grid-template-areas: "head head"
    "top top"
    "b b";
    margin: 0px 0px 0px 0px;
    padding: 60px 0px 0px 0px;
    float: left;
  
  }
  
  .success_cards div {
    align-items: center;
    text-align: center;
  }

  .success_cards span {
    font-size: 24px;
    padding-top: 25px !important;
    color: #A5A2A2;
  }
  
  .success_cards {
    height: 282px;
    padding: 0px 0px 0px 0px;
    grid-template-areas: "head";
    margin-left: 126px;
  }
  
  .stockn {
    height: 156px;
    width: 365px;
    margin-left: 48px;
    margin-bottom: 63px;
    margin-top: 63px;
    background-color: #3C485B;
    border-radius: 4px;
    text-align: right;
    display: inline-block;
  }
  
  
  
  .Stock-sold {
    height: 156px;
    width: 365px;
    margin-left: 48px;
    margin-bottom: 63px;
    margin-top: 63px;
    background-color: #3C485B;
    border-radius: 4px;
    text-align: right;
    display: inline-block;
  }
  
  .Spent {
    height: 156px;
    width: 365px;
    margin-left: 48px;
    margin-bottom: 63px;
    margin-top: 63px;
    background-color: #3C485B;
    border-radius: 4px;
    text-align: right;
    display: inline-block;
  }
  
  .Profit {
    height: 156px;
    width: 365px;
    margin-left: 48px;
    margin-bottom: 63px;
    margin-top: 63px;
    background-color: #3C485B;
    border-radius: 4px;
    text-align: right;
    display: inline-block;
  }
  
  .lower div {
    grid-template-areas: "left right";
    
  }

  .graph_card {
    width:816px;
    height: 630px;
    margin-left: 174px;
    border-radius: 8px;
    background-color: #3C485B;
    position: relative;
  
  }
  
  .perf_cards {
    display: flex;
    position: right;
  
  }
  
  .topsale {
    margin: 0px;
    width: 816px;
    height: 272
  }
  
  .undsale {
    margin: 0px;
    width: 816px;
    height: 272
  }
  
  .order_card {
    height:800px;
    order: inline;
    margin: auto;
  
  }

  .sidebar{
    background:#11101D !important;
    position: fixed;
    grid-area: sidebar;
    left: 0;
    top: 0;
    height: 100%;
    width: 86px;
    background: #11101D;
    transition: all 0.5s ease;
    text-align: left;
  }
  
  .sidebar.open{
    width: 423px;
  }
  
  #btn.fa-sharp.fa-solid.fa-bars {
    margin-top: 13px !important;
    margin-left: 25px !important;
  
  }
  
  #btn.fa-sharp.fa-solid.fa-bars.rotate {
    transform: rotate(90deg);
  }
  
  .sidebar ul {
    margin-top: 87px;
    margin-left: 85px;
  }
  
  .sidebar ul li{
    list-style: none;
  }
  
  
  li {
    margin-bottom: 20px;
  }
  
  .sidebar-list {
    display: none;
  }
  
  .sidebar-list a:hover {
    color: #2F9CC3;
  }
  
  
  
  .sidebar-list a {
    font-size: 39px;
    font-weight: bolder;
    margin-bottom: 40px;
    color: #CAE1EA;
  }

  .extra_cards {
    width: 816px;
    margin-left: 80px !important;
    display: grid;
    grid-template-areas: "top" 
    "bottom";
  }

  .sale_breakdown {
    height: 252px;
    width: 816px;
    grid-area: top;
    margin-top: 29px !important;
    background-color: #3C485B !important;
  }

  .calendar {
    height: 252px;
    width: 816px;
    grid-area: bottom;
    background-color: #3C485B !important;
  }
  
  .sidebar.open .sidebar-list {
    display: block !important;
  }
  
  .card_container {
    display: flex;
    flex-direction: row;
  }

  header {
    margin-top: 48px;
  }