* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
  }

  ::marker {
    display: none !important;
  }

  .container {
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    display: grid !important;
    grid-template-areas: "nav nav" "sidebar main";
    content: none !important;
  }  

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* hidden Hide horizontal scrollbar */

}


.navbar {
  background-color:#3C485B !important;
  grid-area: nav;
  height: 86px;
  width: 1920px;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: inline;
  margin: 0px 0px 0px 0px;

}

.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}


.navbar ul li {
  display: inline-block;
  font-size: 40px;


}


.sidebar{
  background:#3C485B;
  position: fixed;
  grid-area: sidebar;
  left: 0;
  top: 0;
  height: 100%;
  width: 86px;
  background: #11101D;
  transition: all 0.5s ease;
  text-align: left;
}

.sidebar.open{
  width: 423px;
}

#btn.fa-sharp.fa-solid.fa-bars {
  margin-top: 13px;
  margin-left: 25px;
}

#btn.fa-sharp.fa-solid.fa-bars.rotate {
  transform: rotate(90deg);
}

.sidebar ul {
  margin-top: 87px;
  margin-left: 85px;
}

.sidebar ul li{
  list-style: none;
}


li {
  margin-bottom: 20px;
}

.sidebar-list {
  display: none;
}

.sidebar-list a:hover {
  color: #2F9CC3;
}



.sidebar-list a {
  font-size: 39px;
  font-weight: bolder;
  margin-bottom: 40px;
  color: #CAE1EA;
}

.sidebar.open .sidebar-list {
  display: block !important;
}



.bg {
    background: #162235;
    width: 1920px;
    height: 1018px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 76px;
}


/* 
I need to make it so the sidebar symbol "=" is enlarged and rotate it
<nav class="sidebar">
<ul>
    <li><a href="/neatest/html/home.html">=</a></li>
</ul>
</nav> */