* {
    margin: 0px !important;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  

  .bag-card {
    margin-top: 33px !important;
    margin-left: 76px !important;
    height: 655px;
    width: 1607px !important;
    background-color: #3C485B;
    border: 1px;
    padding-top: 56px;
    padding-left: 56px;

    border-radius: 3px;
  }

  #bagcontainer {
    height: 406.5px;
    width: 1588px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
  }

  table {
    border-collapse: collapse !important;
    border-spacing: 0px !important;

  }

  .table-bordered {
    text-align: center;
    width: 1539px;
  }

  .tablehead_box {
    border: #707070 2px solid;
    width: 100%;
    height: 77px;
  }

  .table-bordered tr th{
    font-size: 18px;
    color: #CEE6EF;
    background-color: #162235;
    height: 75px;

  }

  .table-bordered tr th{
    font-size: 18px;
    color: #CEE6EF;
    background-color: #162235;
    height: 75px;

  }

  .tableprod_box {
    border: #707070 2px solid;
    width: 100%;
    height: 119px
  }

  .table-bordered tr td{
    font-size: 18px;
    color: #3C485B;
    background-color: white;
    height: 117px;
  }

  td:nth-child(5) a.button {
    text-align: left !important;
    margin: 0 11px !important;

  }
  a.button {
    color: #CEE6EF;
    text-decoration: none;
  }



  a.button:hover {
    color: #2F9CC3;
    background-color: white;
  }

  div.grandtotal_container {
    width: 262px;
    height: 37.45px;
    color: #CEE6EF;
    text-decoration: bold;
    font-size: 18px;
    border: #707070 2px solid;
    position: absolute;
    right: 163px;
    text-align: center;

  }

  .checkout-btn {
    width: 573px;
    height: 71px;
    border: #707070 1px solid;
    margin-right: 17px;
    background-color: #2F9CC3;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    font-size: 32px !important;
    margin-top: 22px !important;
    display: inline-block;
    position: absolute;
    margin-bottom: 41px !important;
    right: 179px;
    line-height: 71px;
    vertical-align: middle; 
  }

  .continueshop-btn {
    width: 270px;
    height: 71px;
    border: #707070 1px solid;
    margin-right: 17px;
    background-color: #162235;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 22px !important;
    display: inline-block;
    position: absolute;
    margin-bottom: 41px !important;
    right: 740px;
    line-height: 71px;
    vertical-align: middle; 
  }



  div.final_container {
    margin-top: 39.45px !important;
    width: 1535px;
    height: 117px;
    color: #CEE6EF;
    text-decoration: bold;
    font-size: 18px;
    border: #707070 2px solid;
  }