* {
    margin: 0px !important;
    padding: 0px !important;
  }

  body {
    overflow-x: visible;
    overflow-y: hidden;
  }
  

  .bag-card {
    margin: auto !important;
    margin-top: 33px !important;
    height: 751px;
    width: 1601px;
    background-color: #3C485B;
    border: 1px;
    padding-top: 33px;
    border-radius: 3px;
  }

  
