* {
    margin: 0px !important;
    padding: 0px !important;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .background {
  width: 1920px;
  height: 1080px;
  background-color: #162235;
  
  }

  .bag-card {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 33px !important;
    height: 751px;
    width: 1663px;
    background-color: #3C485B;
    border: 1px;
    padding-top: 33px;
    border-radius: 3px;
  }

  
