* {
    margin: 0px !important;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  

  .bag-card {
    margin-top: 33px !important;
    margin-left: 76px !important;
    margin-right: 100px !important;
    height: 711px;
    width: 1495px;
    background-color: #3C485B;
    border: 1px;
    padding-top: 33px;
    border-radius: 3px;
  }

  
