.checkoutcontainer {
    width: 1541px;
    height: 518px;

    display: grid; 
    grid-template-columns: 770.5px 770.5px; 
    grid-template-rows: 38px 1503px; 
    gap: 0px 0px; 
    grid-template-areas: 
        "left right"
        ". ."; 
    }
