    .checkoutcontainer {
    width: 1541px;
    height: 518px;
    display: grid; 
    grid-template-columns: 770.5px 770.5px; 
    grid-template-rows: 38px 1503px; 
    gap: 0px 0px; 
    grid-template-areas: 
        "lefthead righthead"
        "leftcontent rightcontent";
    }

    .left-head {
        grid-area: "lefthead";
        text-align: left;
        margin-left: 18px;
        margin-top: auto;
        margin-bottom: auto;
        width: 770.5px;
        height: 38px;
    }

    .left-head a {
        font-size: 18px;
        font-style: bold;
        color: #CEE6EF;
        margin-left: 18px;

    }
