    .checkoutcontainer {
        width: 1541px;
        height: 518px;
        display: grid !important; 
        grid-template-columns: 770.5px 770.5px; 
        grid-template-rows: 38px 1503px; 
        gap: 0px 0px;
        border: 2px solid #707070;
        grid-template-areas: 
            "lefthead righthead"
            "leftcontent rightcontent"
            "bottom row";
    }
    .left-head,
    .right-head {
        display: flex;
        align-items: center;
    }

    .left-head a,
    .right-head a {
        margin: 0;
    }

    .left-head {
        grid-area: lefthead;
        padding-left: 18px;
        background-color: #162235;
        border: 2px solid #707070;
    }

    .left-head a {
        font-size: 18px;
        font-style: bold;
        color: #CEE6EF;
    }

    .left-content {
        grid-area: leftcontent;
        height: 480px;
        border: 2px solid #707070;

    }

    

    .right-head {
        grid-area: righthead;
        padding-left: 18px;
        background-color: #162235;
        border: 2px solid #707070;
    }


    .right-head a {
        font-size: 18px;
        font-style: bold;
        color: #CEE6EF;
    }

    .right-content {
        grid-area: rightcontent;
        height: 480px;
        border: 2px solid #707070;

    }

    .flex-selectedpayment {
        margin-left: auto;
        margin-right: auto;
        width: 677px;
        height: 73px;
        background-color: white;
        border-radius: 4px;
    }

    .flex-selectedpayment a {

    }

    .short-form  {
       width: 332.5px;
       height: 58px;
       border-radius: 4px;
       text-align: left;
       margin-right: 24px;
       margin-top: 15px !important;
       padding-left: 20px;
    }

    .long-form  {
       width: 689.5px;
       height: 58px;
       border-radius: 4px;
       text-align: left;
       margin-right: 24px !important;
       margin-top: 15px !important;
       padding-left: 20px;
    }

    div.finalch_container {
        margin-top: 95px !important;
        width: 1541px;
        height: 110px;
        box-sizing: border-box;
        color: #CEE6EF;
        text-decoration: bold;
        font-size: 18px;
        border: #707070 3px solid;
      }

    
