

.bg-modal {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 91%;
	position: absolute;
	top: 9%;
	display: none;
	justify-content: center;
	align-items: center;
}


.modal-content {
    width: 800px;
    height: 500px;
    background-color: white;
    text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.taskbarcontainer {
	width: 1015px;
	height: 54px;
	margin-left: 19px;
	background-color: white;
	display: flex;
	flex-direction: row;
	margin-bottom: auto;
	position: inline;
}

.right-sideb {
	float: right;

}
.button {
    background-color: #1BA1FE;
    padding: 4px;
	height: 74px;
	color: white !important;
}

.taskfilters {
	width: 169px;
	height: 54px;
	border: 2px;
	justify-content: center;
}

.dateadd {
	width: 169px;
	height: 54px;
	border: 2px;

}

h1 {
	color: #646577;
	font-size: 48px;
	margin-top: auto;
	margin-bottom: auto;
}
input {
	width: 170px !important;
	height: 29px;
	background-color: #F0ECEC !important;
	border-radius: 8px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 14px;
	display: inline-block;
}


.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

