* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
  }

  ::marker {
    display: none !important;
  }

  .container {
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    display: grid !important;
    grid-template-areas: "sidebar main";
    content: none !important;
  }  

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* hidden Hide horizontal scrollbar */

}


.navbar {
  background-color:#3C485B !important;
  grid-area: nav;
  height: 86px;
  width: 1920px;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: inline;
  margin: 0px 0px 0px 0px;

}

.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}


.navbar ul li {
  display: inline-block;
  font-size: 40px;


}


.sidebar {
  background:#3C485B;
  grid-area: sidebar;
  height: 994px;
  width: 86px;
  display: flex;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  justify-content: inline;
  overflow: hidden;
}

.bg {
    background: #162235;
    width: 1858px;
    height: 1018px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

a {
    font-size: 20px;
    margin-left: 5px;
    color: #D1E9F2;
    text-decoration: none;
    
}

h1 {
  margin-top: 100px !important;
  margin-left: 163px !important;
  color: #2F9CC3 !important;
  font-size: 39px !important;
  font-weight: bold !important;
}

.blue-link {
    color: #2F9CC3 !important;
    font-weight: bold;
}



.loginlink {
    margin-top: 61px !important;
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
    float: right;
    position: absolute;
    right: 347px;
    
}

  .ordslink {
    margin-top: 61px !important;
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
    float: right;
    position: absolute;
    right: 239px;
    
  }

  .baglink {
    margin-top: 61px !important;
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
    float: right;
    position: absolute;
    right: 164px;
    
  }

.divide {
    display: grid;
    grid-area: main;
    width: 1297px;
    height: 802px;
    margin-left: 76px;
    margin-top: 81px;
    grid-template-areas: "div1 div2";
}

.product {
    grid-area: div1;
    width: 570px;
    height: 620px;
    margin: auto;
}

.extrap {
    grid-area: div1;
    width: 612px;
    height: 117px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 79px;
}

.pdescription {
    grid-area: div2;
    width: 526px;
    height: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 79px;
}

h4 {
    font-size: 32px;
    font-weight: bold;
    color: #CEE6EF;

}

h5 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 56px !important;
    color: #CEE6EF;
}

p {
    font-size: 32px;
    color: #CEE6EF;

}

.size {
    display: inline-block;
    font-size: 18px;
    margin-top: 88px;
    color: #CEE6EF;
}

.material {
    display: inline-block;
    margin-left: 142px !important;
    font-size: 18px;
    margin-top: 68px;
    color: #CEE6EF;
}

.product-price {
  font-size: 23px;
  color: #CEE6EF;
  margin-top: 22px;
}

.bagbtn {
    margin: auto !important;
    border: 0px !important;
    width: 240px;
    height: 49px;
    background-color: #2F9CC3;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 22px !important;
    display: inline-block;
    margin-bottom: 41px !important;
    
}

.backbtn {
    border: 0px !important;
    width: 193px;
    height: 49px;
    margin-left: 77px !important;
    background-color: #707070;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 22px !important;
    display: inline-block;
    margin-bottom: 41px !important;
    
}

#pcontainer {
  height: 662px;
  width: 1402px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
}

.out_of_stocktag {
  background: #fff;
  color: #999;
  display: none;
  font-size: 1em;
  left: 50%;
  line-height: 1em;
  margin-left: -2.27273em;
  margin-top: -1em;
  padding: 0.18182em 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  width: 4.54545em;
}

span {
  background-color: white;
  border: 1px;
  font-size: 16px;

}

.container2 {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-rows: 350px 340px; 
  gap: 53px 0px; 
}

div.itemsboxes {
  display: inline-block;
}

.topsbox {
  width: 474px;
  height: 340px;
  background-color: #3C485B;
  margin-left: 64px;
  margin-right: 108px;
}

.trousersbox {
  width: 474px;
  height: 340px;
  background-color: #3C485B;
  margin-right: 108px;
}

.othersbox {
  width: 474px;
  height: 340px;
  background-color: #3C485B;
  margin-right: 108px;
}